@import "layout/sidebar";

:host {
    height: 100vh;

    position: fixed;
    bottom: 0;
    top: 0;
    z-index: 3;

    .sidebar {
        background: $sidebar-background;
        height: $sidebar-height;
        width: $sidebar-width;

        &--mobile {
            width: 100vw;
        }
    }
}
