<!-- {{ attributes.value | json }} -->

<!-- <div *ngIf="_attributes">
       <input type="{{ _attributes.type }}"
              placeholder="{{ _attributes.placeholder }}"
              [formControl]="formControl">

       <custom-error [fieldName]="_attributes.placeholder"
                     [errorDetails]="sendErrorDetails()"></custom-error>
</div> -->


<section *ngIf="_attributes"
         [ngSwitch]="_attributes.type">

       <div>
              {{ _attributes.label }}
       </div>

       <div *ngSwitchCase="'input'">
              <input type="{{ _attributes.type }}"
                     placeholder="{{ _attributes.placeholder }}"
                     [formControl]="formControl"
                     (keyup)="setFormControlValue()">
       </div>


       <div *ngSwitchCase="'select'">
              <select (change)="setFormControlValue()"
                      [formControl]="formControl">
                     <option selected="selected"
                             disabled>{{ _attributes.placeholder }}</option>
                     <option *ngFor="let option of _attributes.options">{{option}}</option>
              </select>
       </div>

       <div *ngSwitchCase="'radio-tile'">
              <div fxLayout="column">
                     <div fxFlex="50"
                          class="radio-container"
                          *ngFor="let option of _attributes.options">
                            <input type="radio"
                                   id="test"
                                   value="option"
                                   name="gender">
                            <label for="test">{{option}} </label>
                     </div>
              </div>

       </div>

       <div *ngIf="formControl.touched">
              {{ setErrorMessage(formControl.errors) }}
       </div>
</section>