@import "layout/header";

:host {
    .content {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        // min-height: calc(100vh - #{$header-size});
        // padding-top: $header-size;

        ::ng-deep router-outlet + * {
            flex-grow: 1;
        }
    }
}
